<div>
  <div style="background-color: #ffd8be; height: 4em; width: 400px; max-width: 100%; margin: 0 auto;">
    <div style="padding: 1em 0.1em 1em 1em; float: left">
    <img src="/static/media/logo.496835da.svg" />
    </div>
    <h1 style="font-size: 24px; padding-left: 10px; font-weight: 700; padding: .5em .5em 0 .5em; margin: .5em .5em 0 .5em; color: black;" >
      AreYouThere
    </h1>
    <h2 style="font-size: 16px; margin: 0; font-style: italic">
      <%= headline %>
    </h2>
  </div>
  <div style="width: 370px; max-width: 90%; margin: 0 auto">
    <h1 style="">
      Hey, <%= ward.name %>
    </h1>
    <p style="width: 90%; margin: 0 auto;">
    <%= guard.name %> wants to know how you are.
    </p>
    <p style="padding-left: 1em; font-style: italic;"><%= description %></p>
    <div style="text-align: center; margin-top: 2em;" >
      <a href="https://google.com/" style="width: 85%; display: block; margin: 0 auto; padding: 1em; font-size: 18pt; background-color: #bed840; border-radius: 5pt; color: black; text-decoration: none; font-weight: 700">
        ✓ &nbsp;I am doing fine
      </a>
    </div>
    <div style="text-align: center; margin-top: 2em;" >
      <a href="https://google.com/" style="width: 85%; display: block; margin: 0 auto; padding: 1em; font-size: 18pt; background-color: #ff0040; border-radius: 5pt; color: black; text-decoration: none; font-weight: 700; color: white;">
        Need help!
      </a>
    </div>
  </div>
</div>
